 
.AncherTagDiv
{
    background-color: rgb(26, 24, 21);
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
    
    
}



    .logo {

      width: 100px;

      height: 100px;

     

    }

  







/* .AncherTag
{
    background-color: transparent;
    color: lightblue;
    font-size: xx-large;
    font-style: italic;
    text-shadow: 1px 2px 1px darkblue;
    position: relative;
    right: -50px;
    margin: 5px;
    
} */



