<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->


<footer class="footer">


<div class="contain">
  <div class="row">
    <div class="col-md-3">
      <h3 class="footerTitle">REFERSION</h3>
      <ul class="">
          <li><a href="" class="home">Notion Interio</a></li>
          <li><a href="" class="" routerLink="aboutUs">About Us</a></li>
          <li><a href="" class="">Our Process</a></li>
          <li><a href="" class="">What we do?</a></li>
      </ul>
      
    </div>

    <div class="col-md-6">
      <h3 class="footerTitle">Reach Us</h3>
      <tr class="">
        <td>
          <a class="col-md-6"
            href="https://www.google.com/maps/search/Notion+Interio++Meenatai+thackrey+Chowk,+Near+toshniwal+hospital,+Saigaon+naka,++Ambajogai/@18.7278636,76.3850171,17z/data=!3m1!4b1">
            <i class="fa fa-map-marker locationIcon1"></i>
            Notion Interio<br>
            Meenatai thackrey Chowk,
            Near toshniwal hospital,
            Saigaon naka,<br>
            Ambajogai
            431517</a>
        </td>
        <td>
          <a class="col-md-6"
            href="https://www.google.com/maps/search/Notion+Interio++Meenatai+thackrey+Chowk,+Near+toshniwal+hospital,+Saigaon+naka,++Ambajogai/@18.7278636,76.3850171,17z/data=!3m1!4b1">
            <i class="fa fa-map-marker locationIcon2"></i>
            Notion Interio,Karve Road,<br>
            Near kothrud bus Depo,
            Pune - 411038
          </a>
        </td>
      </tr>
    </div>

    <div class="col-md-3">
        <!-- Social buttons -->
        <h3 class="footerTitle">Follow Us</h3>
        <!-- <ul class="social-network social-circle list">
         <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
         <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
         <li><a href="#" class="icoFacebook" title="Instagram"><i class="fa fa-instagram"></i></a></li>
        </ul> -->
        <ul class="social ">
          <li> <a href="#" title="Facebook"> <i class=" fa fa-facebook">   </i> </a> </li>
          <li> <a href="#" title="Linkedin"> <i class="fa fa-linkedin">   </i> </a> </li>
          <li> <a href="#" title="Instagram"> <i class="fa fa-instagram">   </i> </a> </li>
          <!-- <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
          <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li> -->
      </ul>	
       <!-- Social buttons -->
     </div>
  </div>
 <!-- Copyright -->
 <div class="footer-copyright text-center py-1">© 2018 Copyright:
    <a href=""> InteriorDesign</a>
  </div>
  <!-- Copyright -->
</div>
</footer>


