<style>
  @import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');
</style>


<body>
  <div class="container">
   
        <img class="logo" src="/assets/Images/NOTI2.png" >
   
        <i class="fa fa-quote-left"></i>
    
    <h5 id="aboutTitle" @speedIN>

      A designer by profession,
      a thinker by habit and <br>
      an inventor by choice.
    </h5>
  
    <i class="fa fa-quote-right"></i>
  
    <p id="myName">~~Nikhil Lohiya~~ </p>


    <img id="ownPhoto" src="assets/Images/121.jpg">

    <br>
    <br>
    <br>

    <div>
      <p id="aboutSelf">

        <b style="font-size:22px"> N</b>ikhil Lohiya an Interior Designer by himself. He has deep experience of
        designing and creating attractive,affordable and unique Designs. he has provided interior design solutions to
        Residential and Commercial projects with over five years of experience. <br>
        His design philosophy stresses a close link between the disciplines of architecture and interior decoration. The
        end result are rich environments defined by colour palettes, refined materials and detailing that tailor these
        interiors to suit his clients' desires. He has the expertise to create a wide variety of interior environments
        from traditional to contemporary.
        <br>
        Nikhil develop interior spaces with an underlying classicism that survives the passage of design trends. He is
        committed to coordinating the design efforts with an organized and well managed project that consistently exceed
        clients' expectations and come in on budget.
        <br>
        He has launched unique concept of designing home which can alert mind state of person.
      </p>
    </div>
    <br>

  </div>
</body>