<header>
  <div class="overlay">
    <div class="container">
      <div class="row">

        <div class="col-sm-5 col-md-5 ContactUs" [@LRAnimation]>
          <br>
          <h1
            style="color:rgb(243, 243, 243);font-family: 'Slabo 57px', serif; text-align: center;font-style: oblique;font-size: 30px;">
            Our Branches <fa name=" " animation=""></fa>
          </h1>
          <hr>

          <p style="  color:gold; font-weight: 500; text-align: center">
            <span>
              <a
                href="https://www.google.com/maps/search/Notion+Interio++Meenatai+thackrey+Chowk,+Near+toshniwal+hospital,+Saigaon+naka,++Ambajogai/@18.7278636,76.3850171,17z/data=!3m1!4b1">
                <i class="fa fa-map-marker" style="font-size:24px;color:lightblue"></i>

              </a>
            </span>
            Notion Interio
            <br>
            Meenatai thackrey Chowk,<br>
            Near toshniwal hospital,<br>
            Saigaon naka, <br>
            Ambajogai<br>
            431517
          </p>
          <br>
          <p style="color:gold; font-weight: 500;text-align: center">
            <span>

              <a
                href="https://www.google.com/maps/search/Notion+Interio++Meenatai+thackrey+Chowk,+Near+toshniwal+hospital,+Saigaon+naka,++Ambajogai/@18.7278636,76.3850171,17z/data=!3m1!4b1">
                <i class="fa fa-map-marker" style="font-size:24px;color:lightblue"></i>

              </a>
            </span>
            Notion Interio
            <br> Karve Road,<br>
            Near kothrud bus Depo,<br>
            Pune - 411038
          </p>
          <div style="text-align: center;color:lightblue"> <img _ngcontent-c3="" class="ng-tns-c3-0" alt=""
              src="/assets/Images/whatsapp.png" style="width: 17%;height: 10%;margin-top: -3%;margin-left: -18%;">
            9422085734</div>
          <br>
          <br>
        </div>

        <br>

        <div class="col-sm-5 col-md-5 contact-from" [@RLAnimation]>
          <br>
          <h1
            style="font-family: 'Slabo 57px', serif; text-align: center;font-style: oblique;color:rgb(243, 243, 243);;font-size: 30px;">
            Get in Touch</h1>
          <hr>

          <form class="formPlace" action="" (submit)="onSubmit()">
            <div class="form-group">
              <!-- <label>Name:</label> -->
              <input type="text" style=" border-radius: 5px; background-color: lightgrey" class="form-control"
                name="name" value="" [(ngModel)]="model.name" placeholder="Name">
            </div>


            <div class="form-goup">
              <!-- <label>Email:</label> -->
              <input type="email" style=" border-radius: 5px;background-color: lightgrey" class="form-control"
                name="emailId" value="" placeholder="Email Id" [(ngModel)]="model.email">
            </div>

            <div class="form-goup">
              <!-- <label>Contact:</label> -->
              <input type="text" style=" border-radius: 5px;background-color: lightgrey" class="form-control"
                name="contact" value="" placeholder="Contact" [(ngModel)]="model.contact">
            </div>

            <div class="form-goup">
              <!-- <label>Message:</label> -->
              <textarea type="text" style=" border-radius: 5px;background-color: lightgrey" class="form-control"
                name="message" value="" placeholder="Message" [(ngModel)]="model.message"></textarea>
            </div>

            <div class="form-group">
              <button type="submit" style=" border-radius: 5px; background-color: dodgerblue;color: white;" (click)="onSubmit()" class="btn">
                <fa name="fas fa-envelope" animation=""></fa> Submit
              </button>
            </div>
          </form>

          <!-- <input type="text" name="name" class="form-control" value="" placeholder="Name"><br>
            <input type="email" name="email" class="form-control" value="" placeholder="Email"><br>
            <input type="text" name="mobileNo" class="form-control" value="" placeholder="Mobile No."><br>
            <textarea class="form-control" placeholder="Message"></textarea><br>
  
            <div><button class="btn btn-info" > Send</button></div> -->


        </div>
      </div>
    </div>
    <br>
    <br>

    <br>
  </div>


</header>