
<div class="">
<div class="visionBgDiv">
    <div style=" width:30%;height: 40%; margin-left: 65%; margin-right: 12%;margin-top: -30%;">
        <h1 style="color:blue;font-family: 'Slabo 57px', serif; text-align: center;font-style: oblique;font-size: 40px; font-weight: 900; position: fixed;">Our Vision  <fa name=" " animation=""></fa></h1>
      </div>
<div style=" width:50%;height: 70%; margin-left: 22%; margin-right: 1%;margin-top: 5%; opacity:1; position: fixed;">
    <p class="notionText">At <b style="font-size:22px;color:mediumblue">Notion Interio,</b>We bring together functionality and aesthetics to
      provide homeowners with customised and efficient designs. Our designers specialise in <b
        style="font-size:19px;color:gold">Home Design, Kitchen Interior, Office Interior</b> and help you create a home
      personalised to suit your lifestyle.
      Our designs are driven by vibrant color & pattern complimented with textural & sculptural details.
      We are here to help you find the best home decor and home design to match <b
        style="font-size:19px;color:mediumblue"> your needs and style.</b>
      Our designs reflect each client from concept visualization down to the last detail. The end result is an exceptional
      design that serves you both functionally and aesthetically.

    </p>
</div>
</div>
</div>