<h1>Delete</h1>
<div class="">
  <div class="col-md-6">

    <div class="form-group">
      <select class="form-control " id="formGroup" #catergory>
        <option *ngFor="let item of categoryList" value="{{item}}" value="other">{{item}}</option>
      </select>

      <button class="btn btn-success form-group" (click)="search(catergory.value)">search</button>
    </div>

    <table class="table table-bordered table-hover">
      <thead>
        <td>ProjectID</td>
        <td>Description</td>
        <td>Action</td>
      </thead>

      <tbody>
        <tr *ngFor="let item of pagedItems">
        <td>{{item}}</td>
        <td></td>
        <td><button class="btn btn-danger" (click)="delete(item)">delete</button></td>
      </tr>
      </tbody>
    </table>

  </div>

  
  <nav aria-label="Page navigation" class="container">
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(1)">First</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a class="pageNo" (click)="setPage(page)">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.currentPage + 1)">Next</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.totalPages)">Last</a>
      </li>
    </ul>
  </nav>
</div>