  
<div class="AncherTagDiv">
    
  <!-- <a class="AncherTag btn" href="" routerLink="home"><fa name="fas fa-home"></fa></a>
  <a class="AncherTag btn" href="" routerLink="uploadFile">Upload File(admin)</a>
  <a class="AncherTag btn" href="" routerLink="">About Us</a>
  <a class="AncherTag btn" href="" routerLink="contactUs">Contact Us</a> 

  <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li> -->
 </div>


 <div class="AncherTagDiv">
  <nav-bar></nav-bar>
 </div>

<router-outlet></router-outlet>

<app-footer></app-footer>
