 
.AncherTagDiv
{
    background-color: transparent;
    position: relative;
    width: 65%;
    top: 0px;
    margin-left: 18%;
    margin-right: 20%;
    z-index: 1;
    background-color:rgba(0,0,0,0.3);
}
.logo {
      width: 100px;
      height: 100px;
      }


