<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- <a class="navbar-brand" routerLink=""><fa name="fas fa-home"></fa></a> -->
  <div class="navbar-brand" routerLink="">
    <a class="nav-item">
      <!-- <img src="assets/Images/B9gcWbxIEAEemUf.png" alt=""> -->
    </a>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="" routerLink=""><fa name="fas fa-home"></fa></a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-txt" href="" routerLink="">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-txt" href="" routerLink="contactUs">Contact Us</a> 
          </li>
        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle nav-txt" id="navbarDropdown"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="">Home</a>
            <a class="dropdown-item" href="">Kitchen</a>
            <a class="dropdown-item" href="">Office</a>
          </div>
        </li>
      </ul>
      
    </div>
</nav>