<h1>File Upload</h1>
<div class="">
  <div class="col-md-6">

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Name">
    </div>

    <div class="form-group">
      <select class="form-control " id="formGroup" #catergory>
        <option *ngFor="let item of categoryList" value="{{item}}" value="other" >{{item}}</option>
      </select>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Poject Id" #projectID>
    </div>

    <div class="row form-group">

      <button type="button" class="btn btn-success" name="" (click)="createproject(projectID.value, catergory.value)" [disabled]="CreateDisable">Create PojectID</button>

    <div class="">
      <input type="file" name="fileupload" id="fileUpload" multiple ng2FileSelect [uploader]="uploader" [disabled]="UplaodDisable">
    </div>

    </div>
    


    <div>
      <div class="row" *ngFor="let item of uploader.queue">
        <div class="col-sm-4">{{item.file.name}}</div>
        <div class="col-sm-4">
          <div class="progress">
              <div class="progress-bar bg-success" 
              [ngStyle]="{'width':item.progress+'%'}"></div>
          </div>
      </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-dark" (click)="item.upload()">Upload</button>
          <button type="button" class="btn btn-danger" (click)="item.remove()">Cancel</button>        </div>
      </div>
    </div>

    <div class="row" *ngIf="uploader?.queue?.length > 0">
      <button type="button" class="btn btn-primary" (click)="uploader.uploadAll()">Upload All</button>
</div>
  </div>
</div>


